.navbar{
    height: 60px;
    align-items: center;
    padding: 0px 45px;
    display: flex;
    justify-content: space-between;
    font-size: 26px;
    background-color: black;
    color: white;
}

.menu-toggle{
    border: none;
    background-color: black;
    height:32px;
    width: 60px;
    cursor:pointer;
}

.toggle-size{
    background-color: white;
    height: 4px;
    width: 40px;
    justify-content: space-evenly;
    gap: 10px;
    display: flex;
    margin: 5px;
}

.nav-title{
    background-color: rgb(238, 140, 28);
    border-radius: 30px;
    height: 30px;
    width: 150px;
    padding: 5px;
    margin-left: 120px;
    text-align: center;
    justify-content: center;
    color: black;
    font-weight: 700;
}

.nav-page-title{
    display: flex;
    gap: 20px;
    cursor: pointer;
    margin-right: 50px;
}

.navlink{
    text-decoration: none;
    color: white;
}